<div class="header gird-x">
    <div class="cell">
        <div class="top-bar">
            <div class="top-bar-left">
                <ul class="vertical medium-horizontal menu" data-responsive-menu="drilldown medium-dropdown">
                    <button type="button" class="button" data-toggle="offCanvas">菜单</button>
                    <li><a href="/">中软培训logo</a></li>
                </ul>
            </div>
            <div class="top-bar-right  hide-for-small-only">
                <ul class="menu">
                    登录
                </ul>
            </div>
        </div>

    </div>
</div>