<li>
    <a href="/Enterprise_Training">企业培训</a>
    <ul class="vertical menu">
        {{> enterprise_training_menu}}
    </ul>
</li>
<li>
    <a href="/Personal_Training">个人培训</a>
    <ul class="vertical menu">
        {{> personal_training_menu}}
    </ul>
</li>
<li>
    <a href="/Lecturer_Resources">教学资源</a>
    <ul class="vertical menu">
        {{> lecturer_resources_menu}}
    </ul>
</li>
<li>
    <a href="/About_Us">关于我们</a>
    <ul class="vertical menu">
        {{> about_us_menu}}
    </ul>
</li>